.news-details_container {
  text-align: center;
}
.news-details_title {
  font-size: 33px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
}
.news-details_img {
  width: 350px;
  height: 350px;
  text-align: center;
}
.news-details_text {
  text-align: left;
  font-size: 25px;
  letter-spacing: 0.5px;
  color: #777;
  font-weight: 500;
  margin-bottom: 7px;
  margin-top: 7px;
  text-indent: 15px;
}
