.products-page_container {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 40px;
  grid-template-rows: auto; /* of fixed value ex. 450px */
  padding-left: 15px;
  padding-right: 15px;
}
