.news-main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-right: 18px;
  padding-left: 18px;
}
.news-text_container {
  width: 82%;
  display: flex;
  flex-direction: column;
}
.news-image {
  border-radius: 8px;
  transition: all 0.4s;
}
.news-title {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -15px;
  transition: all 0.4s;
}
.news-text {
  margin: 0px;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s;
}
