.grid-item {
  border: 0.3px solid black;
  border-radius: 15px;
  background: #dee1df;
}
.grid-item_content {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.products-page_txt-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.products-page_title-div {
  text-align: left;
}
.products-page_price-div {
  text-align: right;
}
.products-page_title {
  margin: 0px;
  font-size: 20px;
}
.products-page_price {
  margin: 0px;
  font-size: 20px;
}
.products-page_img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.products-page_text {
  margin: 0px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
.products-page_ul {
  list-style: none;
  text-align: left;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.products-page_ul-li {
  margin-top: 10px;
  margin-bottom: 10px;
}
.products-page_ul-p {
  margin: 0px;
  color: #2d2d2d;
  font-size: 16px;
}
.products-page_btns {
  display: flex;
  justify-content: space-around;
}
.products-page_btn-view {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  background: cornflowerblue;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
}
.products-page_btn-view:hover {
  cursor: pointer;
  border-radius: 13px;
  box-shadow: 3px 3px 6px cornflowerblue;
}
.products-page_btn-cart {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-radius: 5px;
  background: indianred;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
}
.products-page_btn-cart:hover {
  cursor: pointer;
  border-radius: 13px;
  box-shadow: 3px 3px 6px indianred;
}
